{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "tsx": true
    }
  },
  "plugins": ["@typescript-eslint", "react", "eslint-plugin-react"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "prettier/react",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended"
  ],
  "env": {
    "amd": true,
    "node": true,
    "es6": true
  },
  "rules": {},
  "globals": {
    "window": true,
    "document": true,
    "FormData": true,
    "location": true,
    "alert": true,
    "confirm": true
  }
}
